@model List<Product>

@{
    ViewData["Title"] = "Index";
}

<h1>
    Index  <a asp-controller="Products" asp-action="Create" class="btn btn-secondarys button-add" type="button">
        <i class="fa-solid fa-plus icon-plus" style="padding-top: 10px"></i>
    </a>
</h1>




<table class="table table-hover">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
            <th>
                Description
            </th>
            <th>
                Quantity
            </th>
            <th>
                Category
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @item.Name
                </td>
                <td>
                    @item.Price
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    @item.Quantity
                </td>
                <td>
                    @{
                        for (int i = 0; i < ViewBag.Categories.Count; i++)
                        {
                            if (ViewBag.Categories[i].Id == item.CategoryId)
                            {
                                <text>@ViewBag.Categories[i].Name</text>
                            }
                        }
                    }
                </td>
                <td>
                    <a asp-controller="Products" asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary button">Details</a>
                </td>

                <td>
                    <a asp-controller="Products" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-dark button">Edit</a>
                </td>


                <td>
                    <a asp-controller="Products" asp-action="Confirm" asp-route-id="@item.Id" class="btn btn-danger button">Delete</a>
                </td>
                <td><a asp-area="Areas" as></a></td>
            </tr>
        }
    </tbody>
</table>

