@model List<Product>

@{
    ViewData["Title"] = "Index";
}

<h1>
    Index  <a asp-controller="Products" asp-action="Create" class="btn btn-secondarys button-add" type="button">
        <i class="fa-solid fa-plus icon-plus" style="padding-top: 10px"></i>
    </a>
</h1>

                <div class="table-responsive">
                    <div id="products-datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                        
                            <div class="col-sm-12">
                                <table class="table table-centered w-100 dt-responsive nowrap dataTable no-footer dtr-inline" id="products-datatable" role="grid" aria-describedby="products-datatable_info" style="width: 1551px;">
                                    <thead class="thead-light">
                                        <tr role="row">
                                            <th class="all dt-checkboxes-cell dt-checkboxes-select-all sorting_disabled" style="width: 28.6px;" rowspan="1" colspan="1" data-col="0" aria-label="


                                                                &amp;nbsp;

                                                        "><div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input dt-checkboxes"><label class="custom-control-label">&nbsp;</label></div></th>
                                            <th class="all sorting_asc" tabindex="0" aria-controls="products-datatable" rowspan="1" colspan="1" style="width: 430.8px;" aria-sort="ascending" aria-label="Product: activate to sort column descending">Product</th>
                                            <th class="sorting" tabindex="0" aria-controls="products-datatable" rowspan="1" colspan="1" style="width: 180.8px;" aria-label="Category: activate to sort column ascending">Category</th>
                                           
                                            <th class="sorting" tabindex="0" aria-controls="products-datatable" rowspan="1" colspan="1" style="width: 94.8px;" aria-label="Price: activate to sort column ascending">Price</th>
                                            <th class="sorting" tabindex="0" aria-controls="products-datatable" rowspan="1" colspan="1" style="width: 128.8px;" aria-label="Quantity: activate to sort column ascending">Quantity</th>
                                            <th class="sorting" tabindex="0" aria-controls="products-datatable" rowspan="1" colspan="1" style="width: 103.8px;" aria-label="Status: activate to sort column ascending">Status</th>
                                            <th style="width: 85.6px;" class="sorting_disabled" rowspan="1" colspan="1" aria-label="Action">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach(var item in Model)
                                        {
                                            <tr role="row" class="odd">
                                                <td class="dt-checkboxes-cell" tabindex="0"><div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input dt-checkboxes"><label class="custom-control-label">&nbsp;</label></div></td>
                                                <td class="sorting_1">
                                                    <img src="@item.Image" alt="contact-img" title="contact-img" class="rounded mr-3" height="48">
                                                    <p class="m-0 d-inline-block align-middle font-16">
                                                        <a href="apps-ecommerce-products-details.html" class="text-body">@item.Name</a>
                                                        <br>
                                                        <span class="text-warning mdi mdi-star"></span>
                                                        <span class="text-warning mdi mdi-star"></span>
                                                        <span class="text-warning mdi mdi-star"></span>
                                                        <span class="text-warning mdi mdi-star"></span>
                                                        <span class="text-warning mdi mdi-star"></span>
                                                    </p>
                                                </td>
                                                <td>
                                                @{
                                                    for (int i = 0; i < ViewBag.Categories.Count; i++)
                                                    {
                                                        if (ViewBag.Categories[i].Id == item.CategoryId)
                                                        {
                                                            <text>@ViewBag.Categories[i].Name</text>
                                                        }
                                                    }
                                                }
                                                </td>
                                               
                                                <td style="">
                                                    $@item.Price
                                                </td>

                                                <td style="">
                                                    @item.Quantity
                                                </td>
                                                @if(item.Quantity>=1)
                                                {

                                                <td style="">
                                                    <span class="badge badge-success">Available</span>
                                                </td>
                                                }
                                                else
                                                {
                                                <td style="">
                                                    <span class="badge badge-danger">Out of Stock</span>
                                                </td>
                                                }
                                                <td class="table-action" style="">
                                                <a asp-controller="Products" asp-action="Details" class="action-icon" asp-route-id="@item.Id"> <i class="mdi mdi-eye"></i></a>
                                                <a asp-controller="Products" asp-action="Edit" class="action-icon" asp-route-id="@item.Id"> <i class="mdi mdi-square-edit-outline"></i></a>
                                                <a asp-controller="Products" asp-action="Confirm" class="action-icon" asp-route-id="@item.Id"> <i class="mdi mdi-delete"></i></a>
                                                </td>
                                            </tr>
                                        }
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                      
                    </div>
                </div>
            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div> <!-- end col -->
</div>
